<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>SuperAircraftStore---Fighters and Boomers</title>
    <link rel="stylesheet" href="./lib/bootstrap.min.css">
    <link rel="stylesheet" href="./css/style.css">
  </head>
  <body ng-app="app"  ng-controller="mainCtrl">
    <div class="container">
      <header class="page-header row">
        <h1>SuperAircraftStore <small>出售各类战机</small></h1>
        <span ng-show="user.username">您已登录</span>
        <a href="#/login" class="btn btn-default" ng-hide="user.username">Login</a>
        <a ng-click="logout()" class="btn btn-default" ng-show="user.username">Logout</a>
        <a href="#/register" class="btn btn-default">Register</a>
        <div class="col-sm-4">
          <button class="btn btn-default" ng-click="gotoShoppingCart()">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            <span ng-bind="quantityOfGoods"></span>
          </button>
        </div>
      </div>
      </header>
      <div ng-view>

      </div>
    </div>

    <script src="./lib/angular.js" charset="utf-8"></script>
    <script src="./lib/angular-route.js" charset="utf-8"></script>
    <script src="./lib/jquery-3.1.1.min.js" charset="utf-8"></script>
    <script src="./lib/bootstrap.min.js" charset="utf-8"></script>
    <script src="./js/app.js" charset="utf-8"></script>
    <script src="./js/config.js" charset="utf-8"></script>
    <script src="./js/aircraftListCtrlModule.js" charset="utf-8"></script>
    <script src="./js/getAircraftDataModule.js" charset="utf-8"></script>
    <script src="./js/aircraftDetailCtrlModule.js" charset="utf-8"></script>
    <script src="./js/localStorageModule.js" charset="utf-8"></script>
    <script src="./js/shoppingCartModule.js" charset="utf-8"></script>
    <script src="./js/cookieModule.js" charset="utf-8"></script>
    <script src="./js/userloginModule.js" charset="utf-8"></script>
    <script src="./js/userModelServiceModule.js" charset="utf-8"></script>
    <script src="./js/straightOrderModule.js" charset="utf-8"></script>
  </body>
</html>
