<ion-view title="战机详情">
<ion-content has-header="true" paspaning="true">
<div class="panel" ng-controller="aircraftDetailCtrl">
  <div class="aircraft-detail">
    <div class="">
      <div class="">
        <img ng-src="{{IMAGEPATH + aircraft.images[0].image_name}}" alt="">
      </div>
      <div class="">
        <div class="aircraft-describe">

          <span>{{aircraft.title}}</span>
          <br>

          <span>{{aircraft.des}}</span>
          <br>
          <span>制造厂商: </span>
          <span>{{aircraft.manufacturer}}</span>
          <br>
          <span>售价: </span>
          <span>{{aircraft.price | currency : '&yen;'}}</span>
          <br>
          <span>库存: </span>
          <span>{{aircraft.sales}}</span>
          <br>
          <span>发售时间: </span>
          <span>{{aircraft.uptime * 1000 | date : "yyyy-MM-span HH:MM:ss"}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <!-- <a href="#/aircraftList" class="button button-small">返回战机列表</a> -->
    <button class="button button-full button-positive" ng-click="addToShoppingCart(aircraft)">添加到购物车</button>
  </div>
  <div class="row">
    <div class="photos">
      <img ng-src="{{IMAGEPATH+img.image_name}}" alt="{{aircraft.title}}" ng-repeat="(key, img) in aircraft.images" ng-hide="key === 0">
    </div>
  </div>
</div>
</ion-content>
</ion-view>
