<div class="row">
  <div class="col-sm-4">
    <input type="text" class="form-control" ng-model="searchAircraft" placeholder="搜索内容..">
  </div>
  <div class="col-sm-4">
    <select ng-model="orderByType" class="form-control">
      <option value="price">价格</option>
      <option value="sales">销量</option>
      <option value="uptime">上架日期</option>
    </select>
  </div>


<hr>

<div class="row aircraft-list" ng-controller="aircraftListCtrl">
  <ul class="list-group">
    <li class="list-group-item aircraft-item" ng-repeat="aircraft in aircraftList">
      <div class="row">
        <div class="col-xs-4">
          <a ng-href="#/aircraftDetail/{{aircraft.id}}">
            <img ng-src="{{IMAGEPATH + aircraft.images[0].image_name}}" alt="{{aircraft.title}}">
          </a>
        </div>
        <div class="col-xs-8">
          <blockquote>
            <h3>{{aircraft.title}}</h3>
            <p>{{aircraft.des}}</p>
            <div class="text-right">
              <button class="btn btn-info" ng-click="addToShoppingCart(aircraft)">加入购物车</button>
            </div>
          </blockquote>
        </div>
      </div>
    </li>
  </ul>
</div>
