<div class="row">
	<div class="col-sm-12">
		<h2>用户登录</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form name="regForm" ng-submit="doLogin()">
			<div class="form-group">
				<label for="">用户名：</label>
				<input type="text" class="form-control" ng-model="username">
			</div>
			<div class="form-group">
				<label for="">密码：</label>
				<input type="text" class="form-control" ng-model="pwd">
			</div>


			<div class="form-group">
				<button class="btn btn-default btn-lg">登 录</button>
			</div>
		</form>
	</div>
</div>
