<ion-view title="个人中心">
<ion-nav-buttons side="right">
  <button class="button button-clear button-small" ng-click="logout()" ng-show="userId">
    注销
  </button>
</ion-nav-buttons>
<ion-content has-header="true" padding="false">
<div class="login-or-reg" ng-hide="userId">
  <span>欢迎你来</span>
  <a class="button button-full button-positive" href="#/login">登录</a>
  <a class="button button-full button-outline button-positive" href="#/register">注册</a>
</div>
<div class="">
  <div class="">
    <span ng-show="userId">我的订单</span>
    <!-- 每个订单repeat -->
    <div class="list">

      <div class="" ng-repeat="order in ordercontentList">

        <div class="item item-text-wrap">
        <span>订单编号{{order.order_id}}</span><br>
        <span>收货人{{order.order_name}}</span><br>
        <span>收货地址{{order.order_address}}</span><br>
        <span>备注{{order.order_info}}</span><br>
        <span>收货人电话{{order.order_phone}}</span><br>
        <span>订单生成时间{{order.order_addtime * 1000| date : "yyyy-MM-dd HH:MM:ss"}}</span>
        <table>
          <!-- 订单内每个商品repeat -->
          <tr ng-repeat="orderDetail in order.order_details">
            <td>
              <div>
                <img src="" alt="">
              </div>
              <span>战机型号：{{orderDetail.aircraft_title}}</span><br>
              <span>战机价格：{{orderDetail.aircraft_price}}</span><br>
              <span>采购数量：{{orderDetail.orderdetail_number}}</span><br>
            </td>
          </tr>
        </table>
      </div>
      <div class="item item-divider"></div>
    </div>
    </div>
  </div>
</div>
</ion-content>
</ion-view>
