<ion-view title="填写订单">
<ion-content has-header="true" padding="true">
<div class="">
  <div class="">
    <div class="buildAddress">
      <form name="addrForm">
        <div class="list">
          <label for="" class="item item-input">
            <span class="input-label">姓名</span>
            <input name="orderName" type="text" class="form-control" ng-model="pp.name" ng-required="true">
          </label>
          <label for="" class="item item-input">
            <span class="input-label">地址</span>
            <input type="text" class="form-control" ng-model="pp.address" ng-required="true">
          </label>
          <label for="" class="item item-input">
            <span class="input-label">电话</span>
            <input type="text" class="form-control" ng-model="pp.phone" ng-required="true">
          </label>

          <label for="" class="item item-input">
            <span class="input-label">备注</span>
            <input type="text" class="form-control" ng-model="pp.info" ng-required="true">
          </label>
        </div>
      </form>
    </div>
    <div class="orderList">
      <ul class="list">
        <li class="item photos row" ng-repeat="aircraft in pp.orderList">
          <div class="col-33">
            <img ng-src="{{IMAGEPATH + aircraft.aircraft_image}}" alt="">
          </div>
          <div class="col-67">
            <span>战机名{{aircraft.aircraft_name}}</span><br>
            <span>价格{{aircraft.aircraft_price | currency : "&yen;"}}</span><br>
            <span>数量{{aircraft.countShoppingCart}}</span>
          </div>
        </li>
      </ul>
    </div>
    <button class="button button-full button-positive" ng-click="postOrderDetail()">提交订单</button>
  </div>
</div>
</ion-content>
</ion-view>
