<div class="row">
  <div class="col-md-12">
    <span>我的订单</span>
    <!-- 每个订单repeat -->
    <ul>
      <li ng-repeat="order in ordercontentList">
        <span>订单编号{{order.order_id}}</span><br>
        <span>收货人{{order.order_name}}</span><br>
        <span>收货地址{{order.order_address}}</span><br>
        <span>备注{{order.order_info}}</span><br>
        <span>收货人电话{{order.order_phone}}</span><br>
        <span>订单生成时间{{order.order_addtime * 1000| date : "yyyy-MM-dd HH:MM:ss"}}</span>
        <table>
          <!-- 订单内每个商品repeat -->
          <tr ng-repeat="orderDetail in order.order_details">
            <td>
              <div>
                <img src="" alt="">
              </div>
              <span>战机型号：{{orderDetail.aircraft_title}}</span>
              <span>战机价格：{{orderDetail.aircraft_price}}</span>
              <span>采购数量：{{orderDetail.orderdetail_number}}</span><br>
            </td>
          </tr>
        </table>
      </li>
    </ul>
  </div>
</div>
