<ion-view title="注册">
<ion-content has-header="true" padding="false">
<div class="">
	<div class="">
		<form name="regForm" ng-submit="doRegister()" novalidate>
			<div class="list">
				<label for="" class="item item-input">
					<span class="input-label">用户名</span>
					<input type="text" class="form-control" ng-model="uu.username" ng-required="true" ng-change="confirmUsername()" ng-minlength="3" ng-maxlength="32">
					<span ng-show="yesornot">用户名已被注册</span>
				</label>
				<label for="" class="item item-input">
					<span class="input-label">密码</span>
					<input type="password" name="pass" class="form-control" ng-model="uu.pwd" ng-required="true" ng-minlength="6" ng-maxlength="32" ng-change="confirmRepwd()">
				</label>
				<label for="" class="item item-input">
					<span class="input-label">确认密码</span>
					<input type="password" name="repass" class="form-control" ng-model="uu.repwd" ng-required="true" ng-minlength="6" ng-maxlength="32" ng-change="confirmRepwd()">
					<span ng-show="regForm.repass.$dirty && (!sameornot)">两次密码输入不一致</span>
				</label>
			</div>
			<div class="">
				<button class="button button-full button-positive" ng-disabled="!sameornot || yesornot">注 册</button>
			</div>
			<div>
				已有账号？去<a href="#/login">登录</a>
			</div>
		</form>
	</div>
</div>
</ion-content>
</ion-view>
