<div class="row">
	<div class="col-sm-12">
		<h2>用户注册</h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<form name="regForm" ng-submit="doRegister()">
			<div class="form-group">
				<label for="">用户名：</label>
				<input type="text" class="form-control" ng-model="username">
			</div>
			<div class="form-group">
				<label for="">密码：</label>
				<input type="password" class="form-control" ng-model="pwd">
			</div>
			<div class="form-group">
				<label for="">确认密码：</label>
				<input type="password" class="form-control" ng-model="repwd">
			</div>

			<div class="form-group">
				<button class="btn btn-default btn-lg">注 册</button>
			</div>
		</form>
	</div>
</div>
